:root {
    --primary-blue: #38B6FF;
    --primary-black: black;
    --primary-white: white;
    --primary-orange: #ffc4a4;
    --primary-red: rgb(227, 10, 10);
    --primary-yellow:rgb(243, 243, 6);
    --second-orange: #ea4c17;
    --second-blue:#2d92cc;
    --second-black: #7a7a7a;
    --third-black: #515151;
    --four-black: #8f8989;
    
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    box-shadow: 0 1px 3px -2px black;
    color: var(--primary-blue);
}

/* HomeBanner */


@media only screen and (min-width:768px) {
    .signup {
        width: 50%;
    }
    .signin {
        width: 50%;
    }
    .home-carousel {
        width: 100%;
    }
    .carousel-img img {
        border-radius: 0;
    }
}