:root {
    --primary-blue: #38B6FF;
    --primary-black: black;
    --primary-white: white;
    --primary-orange: #ffc4a4;
    --second-orange: #ea4c17;
    --primary-red: red;
    --second-blue:#2d92cc;
    --second-black: #7a7a7a;
    --third-black: #515151;
    --four-black: #8f8989;
    
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    box-shadow: 0 1px 3px -2px black;
    color: var(--primary-blue);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-logo img {
    width: 80px;
    height: 80px;
}

.nav-logo p {
    font-size: 24px;
    margin: 0 15px 0 0;

}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-router-link {
    text-decoration: none;
    color: var(--primary-blue);
}

.nav-router-link:hover{
    color: var(--primary-red)
}

.nav-menu hr {
    border: none;
    width: 90%;
    height: 3px;
    border-radius: 15px;
    background-color: var(--primary-blue);
    margin: 10px 0;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-login-cart button {
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid var(--primary-blue) ;
    border-radius: 75px;
    color: var(--primary-blue);
    font-size: 20px;
    font-weight: 500;
    background: var(--primary-white);
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: var(--primary-red);
    color: var(--primary-white)
}

.nav-cart{
    display: flex;
    align-items: center;
    color: var(--primary-blue);
}

.nav-cart i{
    font-size: 45px;
    cursor: pointer;
    
}

.nav-cart-count {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -10px;
    border-radius: 11px;
    font-size: 12px;
    background: var(--primary-blue);
    color: var(--primary-white);
    cursor: pointer;
}

/* HomeBanner */
.home-banner{
    background-color: var(--second-orange);
}



@media only screen and (min-width:768px) {
    .signup {
        width: 50%;
    }
    .signin {
        width: 50%;
    }
    .home-carousel {
        width: 100%;
    }
    .carousel-img img {
        border-radius: 0;
    }
}